---
import Layout from '../layouts/Layout.astro';
import data from '../data/bancos.json';
import CardBank from '../components/CardBank.astro';

---

<Layout>
	<section class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6">
		
		{data.map(({ id, banco, nombreCorto, wordmark}) => (
			<CardBank
			id={id}
			banco={banco}
			nombreCorto={nombreCorto}
			wordmark={wordmark}
			/>
	))}
		
	</section>
	
</Layout>
