---
import Toast from "../components/ui/Toast.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="antialiased bg-gray-50 dark:bg-gray-900">
			<main class="p-4 min-h-screen pt-20">
				<slot />
			</main>
		</div>
		<script is:inline>
			const cardList = document.getElementById("card-list"); // Obtener la lista de tarjetas
			const searchInput = document.getElementById("search-bar"); // Obtener el campo de búsqueda
			const noResultsMessage = document.getElementById("no-results");
		
			searchInput.addEventListener("input", function (event) {
			  const searchTerm = event.target.value.toLowerCase(); // Obtener el término de búsqueda en minúsculas
			  let hasResults = false;
			  
			  // Iterar a través de las tarjetas y mostrar/ocultar según el término de búsqueda
			  cardList.querySelectorAll(".link-card").forEach((card) => {
				  const title = card
				  .querySelector(".card-title")
				  .textContent.toLowerCase();
				const body = card.querySelector(".card-body").textContent.toLowerCase();
		
				if (title.includes(searchTerm) || body.includes(searchTerm)) {
				  card.style.display = "block";
				  hasResults = true;
				} else {
				  card.style.display = "none";
				}
			  });
			  // Mostrar u ocultar el mensaje de no resultados
			  if (hasResults) {
				noResultsMessage.style.display = "none";
			  } else {
				noResultsMessage.style.display = "block";
			  }
			});
		
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
