---
import Icons from "@icons/Icons.astro";
---
<div id="no-results" class="mt-2 hidden">
    <div class="mt-6 flex w-full flex-col items-center justify-center text-gray-600 dark:text-gray-400">
        <Icons icon="no-result" size="40" />
        <p class="text-xl mb-1 font-medium">No encontramos el logo que buscás</p>
        <p class="text-md mb-4 font-mono">Probá escribiendo bien, TONTO</p>
    </div>
</div>