---
const { Titulo, Description } = Astro.props;
---

<header class="mb-8">
    <h1 class="text-2xl font-bold dark:text-white">{Titulo}</h1>
    <p class="text-sm text-gray-500 dark:text-gray-400">
      {Description}
    </p>
  </header>